<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('add_club') }}" method="post">
        <div>
            <label>CEo</label>
            <input type="text" name="ceo">
        </div>
        <div>
            <label>text</label>
            <input type="text" name="text">
        </div>
        <button type="sub">send</button>
    </form>
</body>
</html>